.footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-weight: 300;
  margin: 8rem 0 4rem 0;
  color: white;

  p {
    background-color: var(--secondary);
    box-shadow: 4px 3px var(--accent);
  }
  @media (max-width: "425px") {
    p {
      width: 19rem;
      text-align: center;
    }
  }
}
