:root {
  --primary: #6fcbfa;
  --background: #1b1c1f;
  --secondary: #4a2482;
  --accent: #ab39c9;
  --font-family: "League Spartan", sans-serif;
  --second-font: "Roboto";
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #e5f1f8;
}
